<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <appender name="FA" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512"/>
        <appender-ref ref="FA_OUTPUT"/>
    </appender>
    <appender name="FA_OUTPUT" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="File" value="target/test-logs/SmartTestAutoLog.log"/>
        <param name="Append" value="true" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="FileNamePattern" value="target/test-logs/SmartTestAutoLog_%i.log" />
            <param name="maxIndex" value="3" />
            <param name="minIndex" value="1" />
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <!-- 10 Mb size-->
            <param name="MaxFileSize" value="10485760" />
        </triggeringPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %c: %m%n"/ -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p: %m%n"/>
        </layout>
    </appender>
 
    <appender name="CA" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512"/>
        <appender-ref ref="CA_OUTPUT"/>
    </appender>
    <appender name="CA_OUTPUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %c: %m%n"/ -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p: %m%n"/>
        </layout>
    </appender>
 
    <logger name="smartfwk.testing" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CA"/>
        <appender-ref ref="FA"/>
    </logger>
 
    <root>
        <level value="ERROR"/>
        <appender-ref ref="CA"/>
        <appender-ref ref="FA"/>
    </root>
 
</log4j:configuration>